body {
  font-family: 'Public Sans', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
  margin: 0;
}


header {
  background-color: #fff;
  width: 200vh;
  height: 60px;
  display: flex;
  text-align: center;
  margin: auto;
  align-items: center;
  flex-flow: row nowrap;
}

header img {
  margin-left: 250px;
}

nav {
  margin-left: 300px;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  list-style-type: none;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
/*
nav a:hover {
 padding-bottom: 15px;
 border-bottom: 5px solid rgb(56,173,80);
 border-image: linear-gradient(90deg, rgba(56,173,80,1) 0%, rgba(43,183,218,1) 100%) 1;
 transition: linear 0.1s;
}
*/


nav a:after {
  position: absolute;
  top: 34px;
  content: "";
  display: block;
  width: 0%;
  height: 5px;
  background-color: rgb(56,173,80);
  background-color:  linear-gradient(90deg, rgba(56,173,80,1) 0%, rgba(43,183,218,1) 100%) 1;
}

nav a:hover::after {
  width: 100%;
  transition: linear 0.1s;
}

header button {

  margin-left: auto;
  margin-right: 250px;
  color: #fff;
  font-weight: 500;
  background: rgb(56,173,80);
  background: linear-gradient(90deg, rgba(56,173,80,1) 0%, rgba(43,183,218,1) 100%); 
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
}

/* Section Callout To Invite */

section .calloutinvite {
  display: flex;
  flex-flow: column nowrap;
  height: 1050px;
}

.calloutinvite h4 {
  color: hsl(233, 26%, 24%);
  font-size: 60px;
  font-weight: 400;
  width: 450px;
  position: relative;
  left: 250px;
  top: 80px;
  margin-bottom: 100px;
}

.calloutinvite p {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  width: 458px;
  margin-left: 250px;
  margin-top: 100px;
}

.btn {
  color: #fff;
  font-weight: 500;
  background: rgb(56,173,80);
  background: linear-gradient(90deg, rgba(56,173,80,1) 0%, rgba(43,183,218,1) 100%); 
  border: none;
  border-radius: 20px;
  padding: 14px 40px;
  margin-top: 50px;
  margin-left: 250px;
}


.imgs {
  margin-top: -494px;
  height: 900px;
}

.bckg {
  display: block;
  margin-left: auto;
  width: 1000px;
}

.cellphones {
  margin: auto;
  display: block;
  position: relative;
  top: -1290px;
  left: 500px;
}



.why {
  background-color: hsl(220, 16%, 96%);
  height: 700px;
  margin-top: -80px;
}

.tiph {
  margin-left: 250px;
  position: relative;
  top: 150px;
}

.tittle-why {
  font-size: 44px;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

.paragraph-why {
  font-size: 18px;
  font-weight: 300;
  margin-top: -40px;
  color: hsl(233, 8%, 62%);
}

.listwhy {
  display: flex;
  flex-flow: row nowrap;
}

.listwhy  {
  margin-left: 212px;
  margin-top: 240px;
}

.listwhy li {
  margin-right: 123px;
}

.listwhy h2 {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  font-size: 28px;

}

.listwhy p {
  color: hsl(233, 8%, 62%);
  width: 190px;
  font-size: 16px;
}

.listwhy .budg {
  color: hsl(233, 8%, 62%);
  width: 261px;
  font-size: 16px;
}

.listwhy .onb {
  color: hsl(233, 8%, 62%);
  width: 261px;
  font-size: 16px;
}

.listwhy .ap {
  width: 220px;
}

/* Article Section */

.article h4 {
  margin-left: 250px;
  font-size: 44px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 0px;
}

.article-boxes {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 212px;
  margin-bottom: 100px;
}

.article-boxes li {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  height: 400px;
  margin-right: 50px;
  border-radius: 10px;
  background-position: top;
  background-size: 100% 200px;
  background-repeat: no-repeat;
}

.article-boxes li:nth-child(1) {
  background-image: url(/img/image-currency.jpg);
}
.article-boxes li:nth-child(2) {
  background-image: url(/img/image-restaurant.jpg);
}
.article-boxes li:nth-child(3) {
  background-image: url(/img/image-plane.jpg);
}
.article-boxes li:nth-child(4) {
  background-image: url(/img/image-confetti.jpg);
}

.article-boxes span {
  display: block;
  margin-top: 215px;
  margin-left: 25px;
  font-size: 12px;
  color: hsl(233, 8%, 62%);
}

.article-boxes h2 {
  display: block;
  width: 266px;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200;
}

.article-boxes p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-left: 25px;
  max-width: 260px;
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

.article h2:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
  transition: ease-in 0.2s;
}

/* Footer */

footer {
  width: 100%;
  height: 200px;
  background-color: hsl(233, 26%, 24%);
}

.logoeb {
  display: block;
  position: relative;
  padding-top: 60px;
  margin-left: 250px;
}

.sociamedia {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 210px;
  margin-top: 60px;
}

.sociamedia li {
  margin-right: 10px;
}


.sociaedia a {
  display: block;
}

.sociamedia img:hover {
  fill: hsl(136, 65%, 51%);
  stroke: hsl(136, 65%, 51%);
}

.callto-1 {
  display: flex;
  flex-flow: column wrap;
  margin-left: 500px;
  margin-top: -120px;
}

.callto-1 li {
  margin-bottom: 20px;
}

.callto-1 span {
  color: #fff;
}

.callto-2 {
  display: flex;
  flex-flow: column wrap;
  margin-left: 700px;
  margin-top: -130px;
}

.callto-2 li {
  margin-bottom: 20px;
}

.callto-2 span {
  color: #fff;
}

footer span:hover {
  color: hsl(136, 65%, 51%);
  transition: ease-in 0.2s;
}


footer button {
  display: block;
  margin-top: -130px;
  margin-left: auto;
  margin-right: 250px;
  font-weight: 500;
  background: rgb(56,173,80);
  background: linear-gradient(90deg, rgba(56,173,80,1) 0%, rgba(43,183,218,1) 100%); 
  border: none;
  border-radius: 16px;
  padding: 14px 24px;
}
footer button a {
  color: #fff;
}

button:hover {
  filter: brightness(1.2);
  transition: ease-in 0.2s;
}

footer .rights {
  display: block;
  padding-left: 1430px;
  padding-top: 20px;
  color: hsl(233, 8%, 62%);
}


/*Mobile*/

@media (min-width: 700px) {
  .bckgmobile {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .calloutinvite img {
    width: 10%;
    height: 20%;
  }
  header {
    width: 50vh;
  }
  header img {
    margin-left: 20px;
  }
  header nav {
    visibility: hidden;
  }
  header button {
    visibility: hidden;
  }
  .calloutinvite{
    display: block;
  }
  .calloutinvite h4 {
   font-size: 38px;
   position: static;
   margin: auto;
   margin-top: 400px;
   margin-bottom: 20px;
   text-align: center;
   width: 300px;
  }
  .calloutinvite p {
    font-size: 15px;
    margin: auto;
    text-align: center;
    width: 350px;
  }
  .calloutinvite .btn {
    padding: 12px 30px;
    margin-left: 95px;
    text-align: center;
  }
  .calloutinvite .bckg {
    visibility: hidden;
  }
  .calloutinvite .bckgmobile {
    width: 360px;
    height: 300px;
    position: relative;
    top: -341px;
  }
  .calloutinvite .cellphones {
    width: 300px;
    height: 400px;
    position: relative;
    top: -640px;
    left: 1px;
  }
}